{% extends 'main/base.html' %}


{% block content %}
    <main class="container">
    <br>
        <br>
    <div class="bg-light p-5 rounded">
        <h1>Так, це дійсно самий банальний сайт на Django</h1>
        <p>Мене звуть Ростислав, в січні 2022 року я почав вивчати Python, а потім переключився на Golang.
        Зараз мені захотілось повернутись до вивчення Django і я вирішив почати з чогось більше простого, щоб згадати основи.
        Звісно це дуже маленький сайт, але й написаний він десь за годину - півтори, зате наштовхнув на деякі ідеї. А головне, я згадав, що Python + Django - це легко і весело!</p>
    </div>
    </main>
{% endblock %}